$theme-text: rgba(255, 255, 255, 0.87);
$theme-bg: black;

@media (prefers-color-scheme: light) {
  $theme-text: #213547;
  $theme-bg: #ffffff;
}

:root {
  font-family: 'Courier Prime', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;

  color-scheme: light dark;
  color: $theme-text;
  background-color: $theme-bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

.flex-gap {
  flex-grow: 1;
}
